[Unit]
Description=calico node
After=docker.service
Requires=docker.service

[Service]
User=root
Environment=ETCD_ENDPOINTS={{ etcd_servers[env_name] }}
PermissionsStartOnly=true
ExecStart=/usr/bin/docker run --net=host --privileged --name=calico-node \
  -e ETCD_ENDPOINTS=${ETCD_ENDPOINTS} \
  -e NODENAME={{ inventory_hostname }} \
  -e CALICO_LIBNETWORK_ENABLED=true \
  -e CALICO_NETWORKING_BACKEND=bird \
  -e CALICO_IPV4POOL_CIDR={{ calico_ipv4_pool[env_name] }} \
  -e CALICO_IPV4POOL_IPIP=CrossSubnet \
  -e CALICO_IPV4POOL_NAT_OUTGOING=true \
  -e FELIX_DEFAULTENDPOINTTOHOSTACTION=ACCEPT \
  -v /var/run/calico:/var/run/calico \
  -v /lib/modules:/lib/modules \
  -v /run/docker/plugins:/run/docker/plugins \
  -v /run/docker.sock:/run/docker.sock \
  -v /var/log/calico:/var/log/calico \
  mirror.jd.com/kubernetes-calico/node:v3.0.1
ExecStop=/usr/bin/docker rm -f calico-node
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
